MEMORY {
	# BASIC
	ZPBASIC:  start = $0000, size = $0090;
	STRTMP:   start = $00FF, size = $0002;
	BVECTORS: start = $0300, size = $0013;

	# KERNAL
	ZPKERNAL: start = $0090, size = $0070;
	STACK:    start = $0100, size = $0100;
	KVAR:     start = $0200, size = $0100;
	KVECTORS: start = $0314, size = $0100;

	# ROM A000-BFFF
	LOBASIC: start = $A000, size = $2000, fill=yes, fillval=$AA, file="basic.bin";

	# ROM E000-FFFF
	HIBASIC: start = $E000, size = $04D3, fill=yes, fillval=$AA, file="kernal.bin";
	KPATCH:  start = $E4D3, size = $002D, fill=yes, fillval=$AA, file="kernal.bin";
	KERNAL:  start = $E500, size = $1A80, fill=yes, fillval=$AA, file="kernal.bin";
	JMPTBL:  start = $FF80, size = $007A, fill=yes, fillval=$AA, file="kernal.bin";
	VECTORS: start = $FFFA, size = $0006, fill=yes, fillval=$AA, file="kernal.bin";
}

SEGMENTS {
	ZPBASIC:  load = ZPBASIC,  type = zp;
	STRTMP:   load = STRTMP,   type = zp;
	BVECTORS: load = BVECTORS, type = bss;

	ZPKERNAL: load = ZPKERNAL, type = zp;
	STACK:    load = STACK,    type = bss;
	KVAR:     load = KVAR,     type = bss;
	KVECTORS: load = KVECTORS, type = bss;

	LOBASIC:  load = LOBASIC,  type = ro;

	HIBASIC:  load = HIBASIC,  type = ro;
	KPATCH:   load = KPATCH,   type = ro;
	KERNAL:   load = KERNAL,   type = ro;
	JMPTBL:   load = JMPTBL,   type = ro;
	VECTORS:  load = VECTORS,  type = ro;
}
